@page "/"

<h1>Rock, Paper and Scisors</h1>
@if (!string.IsNullOrEmpty(resultMessage))
{
<h3 style="color:@resultMessageColor">@resultMessage</h3>
}
<button class="btn btn-info" @onclick="@PlayAgain">Play Again</button>
<div style="display:flex; justify-content:center; margin-bottom:20px;">
    <img src="@oponentHand.Image" class="image" />
</div>

<div style="display:flex; justify-content:space-around;">

    @foreach (var hand in hands)
    {
    <img src="@hand.Image" class="image selectable-image" @onclick="@(() => SelectHand(hand))"/>
    }
</div>